<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--declare all known package sources https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file-->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <!--declare which source each package in your solution should restore from https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping-->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

</configuration>