@using BridgingIT.DevKit.Presentation.Web
@using BridgingIT.DevKit.Presentation.Web.Dashboard.Pages
@using RazorSlices
@inherits RazorSlice<DashboardMetricsViewModel>
@implements IUsesLayout<BridgingIT.DevKit.Presentation.Web.Dashboard.Pages._DashboardLayout, DashboardLayoutModel>

<div class="d-flex justify-content-between align-items-center py-2 mb-2 border-bottom">
    <h4 class="m-0">Metrics</h4>
</div>

<script>
</script>

@functions {
    public DashboardLayoutModel LayoutModel => new() { Title = "Metrics" };
}